@font-face {
	font-family: 'Graduate';
	font-style: normal;
	font-weight: 400;
	src: local('Graduate'),
		local('Graduate-Regular'),
		url(fonts/graduate.eot) format('embedded-opentype'),
		url(fonts/graduate.ttf) format('truetype'),
		url(fonts/graduate.woff) format('woff');
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background: #efefef;
	font: normal 1.6em Helvetica, Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	position: relative;
}
h1, h3 {
	font-family: "Graduate", "Times New Roman", Verdana;
	font-weight: normal;
	margin-top: 0;
	letter-spacing: -0.05em;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
	padding: 0.5em 0.3em 0.2em 0.3em;
	text-align: center;
	color: #6c6b6b;
}
h1:before {
	content: " • ";
}
h1:after {
	content: " • ";
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
	padding-top: 0.2em;
	margin-bottom: 0.8em;
}
a {
	text-decoration: none;
	color: #b12a34;
}
header {
	background: #2d2d2d url(img/bg.png) repeat;
	border-top: 0.2em solid #a52730;
	border-bottom: 0.2em solid #fff;
}
header p {
	width: 90%;
	margin: 1em auto;
	position: relative;
}
header img {
	display: block;
	width: 50%;
	min-width: 150px;
	max-width: 295px;	
}
.description {
	text-align: center;
	padding: 1em;
}
button {
	display: block;
	margin: 0 auto 2em;
}
main {
	width: 100%;
	background: #fafafa;
}
main a:hover {
	text-decoration: none;
	border-bottom: 1px solid #b12a34;
}
main p {
	padding-bottom: 1.5em;
}
main ul {
	padding: 0.2em;
}
main li {
	line-height: 1.4em;
	margin-left: 1em;
}
main img {
	float: right;
	width: 30%;
	min-width: 80px;
	max-width: 160px;
	padding-bottom: 1em;
}
article {
	border-top: 0.1em solid #acabab;
	padding: 1em;
}
article img[data-src] {
	filter: blur(0.2em);
}
article img {
	filter: blur(0em);
	transition: filter 0.5s;
}
footer {
	background: #2d2d2d url(img/bg.png) repeat;
	border-top: 0.2em solid #fff;
	border-bottom: 0.2em solid #a52730;
}
footer p {
	width: 90%;
	margin: 0 auto;
	color: #e2e2e2;
	font-size: 0.7em;
	padding: 2em 0;
	position: relative;
	text-align: center;
	line-height: 1.2;
}
footer a {
	color: #fff;
	font-weight: bold;
}